* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #08C2FF;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
                0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 40px;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    transition: transform 80ms ease-in;
}

button:hover {
    transform: scale(1.05);
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 20px;
}

p {
    margin-top: 10px;
}

a {
    color: #ff416c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}